<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>SimpleCryptography</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"></link>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/main.js"/>
        <link th:href="@{/css/main.css}" href="/css/main.css"  rel="stylesheet" type="text/css"></link>

    </head>
    <body>
        <div class="container">
            <div class="sub-container">
                <h2>Kreiranje ključeva</h2>
                <hr/>
                <form method="post" class="key-container-form">
                    <div class="key-container">
                        <label>Tajni ključ</label><br/>
                        <textarea id="secretKey" cols="50" rows="10" readonly="readonly"></textarea>
                    </div>
                    <div class="key-container">
                        <label>Javni ključ</label><br/>
                        <textarea id="publicKey" cols="50" rows="10" readonly="readonly"></textarea>
                    </div>
                    <div class="key-container">
                        <label>Privatni ključ</label><br/>
                        <textarea id="privateKey" cols="50" rows="10" readonly="readonly"></textarea>
                    </div>
                    <div style="clear:both;"></div>
                    <br/>
                    <input  id ="btnGenerateKeys" type="submit" value="Generate" class="button" />
                </form>
                <br></br>

                <h2>Kriptiranje sadržaja</h2>
                <hr/>
                <div class="loadedText">
                    <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                        <div id="original" class="file-upload">
                            <div class="file-select">
                                <div class="file-select-button" id="fileName">Choose File</div>
                                <div class="file-select-name" id="noFile">No file chosen...</div>
                                <input type="file" name="files" id="chooseFile" class="button"></input>
                            </div>
                            <input  type="submit" value="Submit" id="btnSubmit" class="button" style="float:left"/>
                        </div>
                        <br/>
                    </form>
                    <br/>

                    <div class="digest-signature-container-outer">
                        <div class="digest-signature-container">
                                <label>Hash (SHA-256):</label>
                                <input id="fileHash" class="hashInput" readonly="readonly" size="80"></input>
                                <label>Digital signature (SHA256withRSA): <textarea id="digitalSignature" class="signature" readonly="readonly" rows="2" cols="143" style="overflow: hidden; resize: none"></textarea></label>
                        </div>
                    </div>


                </div>

                <div class="encrypt-decrypt-container">
                    <div class="asymmetric-part">
                        <label>Asimetrično</label><br/>
                        <textarea id="fileTextAsymmetric" cols="50" rows="10"></textarea>
                        <form method="post">
                            <input id="btnAsymmetricEncrypt" type="submit" value="Asymmetric Encrypt" class="button"/>
                            <input id="btnAsymmetricDecrypt" type="submit" value="Asymmetric Decrypt" class="button"/>
                        </form>
                    </div>
                    <div class="symmetric-part">
                        <label>Simetrično</label><br/>
                        <textarea id="fileTextSymmetric" cols="50" rows="10"></textarea>
                        <form method = "post">
                            <input id = "btnSymmetricEncrypt" type="submit" value="Symmetric Encrypt" class="button"/>
                            <input id = "btnSymmetricDecrypt" type="submit" value="Symmetric Decrypt" class="button"/>
                        </form>
                    </div>
                    <div style="clear:both;"></div>
                </div>

                <br></br>
                <label><h2>Provjera digitalnog potpisa</h2></label>
                <hr/>
                <br></br>

                <form methos="POST" enctype="multipart/form-data" id="compareFileUploadForm">
                    <div  class="loadedText">
                        <div>
                            <div id="secondary" class="file-upload">
                                <div class="file-select">
                                    <div class="file-select-button" id="secondaryFileName">Original file</div>
                                    <div class="file-select-name" id="noSecondaryFile">No file chosen...</div>
                                    <input  type="file" name="files" id="chooseSecondaryFile"/>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div id = "signature" class="file-upload">
                                <div class="file-select">
                                    <div class="file-select-button" id="signatureFileName">Digital signature</div>
                                    <div class="file-select-name" id="noSignatureFile">No file chosen...</div>
                                    <input  type="file" name="files" id="chooseSignatureFile"></input>
                                </div>
                            </div>
                        </div>
                        <input id="btnCheckSignature" type="submit" class="button" value="Check"></input>
                    </div>

                </form>

                <div id="success" class="alert alert-success" >
                    <strong>Digital signature match !</strong>
                </div>

                <div id="error" class="alert alert-danger">
                    <strong>Digital signature do not match !!</strong>
                </div>

            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>