<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>SimpleCryptography</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/main.js"/>
        <link th:href="@{/css/main.css}" href="/css/main.css"  rel="stylesheet" type="text/css"></link>

    </head>
    <body>
        <div class="container">
            <h2>1.) Generate keys</h2>
            <label>Secret key:</label>
            <br></br>
            <textarea cols="50" rows="10"  th:text = "${secretKey}"></textarea>
            <br></br>
            <label>Public key:</label>
            <br></br>
            <textarea cols="50" rows="10" th:text = "${publicKey}"></textarea>
            <br></br>
            <label>Private key:</label>
            <br></br>
            <textarea cols="50" rows="10" th:text = "${privateKey}"></textarea>

            <form method="post">
                <input type = "submit" name="actionGenerateKeys" value="generate"></input>
            </form>

            <h2>2.) Kriptiranje sadržaja</h2>
            <textarea cols="50" rows="10" th:text = "${plainFile}"></textarea>
            <input type="file" id="uploadFile"></input>
            <button type="button" id="buttonUpload" class="btn btn-outline-primary btn-lg">Upload File</button>
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>